body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712
        ;
}
.content{
    background: linear-gradient( #000,
    #0C1821, #1B2A41, #324A5F, #CCC9DC );
    height: 2000px;
}
.inicio{
    background-color: transparent;
    display: flex;
    position: absolute;
    text-align: center;
    width: 60px;
    margin: 10px;
    padding: 2px;
}
.error{
    text-decoration: none;
}
#menu{
    color: #CCC9DC;
    position: absolute;
    text-align: center;
}
.img{
    width: 40px;
}
#diriccionaminto{
    text-decoration: none;
    text-align: center;
    font-size: initial;
    color: #CCC9DC;
}
.cuadrado{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}
#titulo{
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.146); /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 35px;
    height: max-content;
    font-size: xx-large;
}
.block{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
}
.texto{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.113); /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 35px;
    font-size: large;
}
.introduccion{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.122); /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 35px;
    font-size: large;
}






























/* Media query para pantallas menores de 600px (por ejemplo, teléfonos móviles) */ 
@media (max-width: 600px) { 
    body { font-size: 1rem; /* Ajustar el tamaño de la fuente */ 
        margin: 0px;
    } 
    .content {
         width: 100% ; /* Hacer que el contenedor ocupe el 100% del ancho */ 
         padding: 0px ; /* Reducir el padding */
         font-size: 5px;
    } 
    .navbar a { 
        display: none; /* Oculta los enlaces por defecto */ 
    } 
    .menu-btn { 
            display: block; /* Muestra el botón en pantallas pequeñas */ 
        } 
    .menu-toggle:checked + .navbar a { 
        display: block; /* Muestra los enlaces cuando el checkbox está marcado */ 
    } 
}
/* Estilos para tabletas (ancho máximo de 768px) */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Ajustar el tamaño de la fuente */
        margin: 0px;
    }

    .contenedor {
        width: 90%; /* Ajustar el ancho del contenedor */
        padding: 0px; /* Ajustar el padding */
        font-size: small;
    }
    .navbar a { 
        display: none; /* Oculta los enlaces por defecto */ 
    } 
    .menu-btn { 
            display: block; /* Muestra el botón en pantallas pequeñas */ 
        } 
    .menu-toggle:checked + .navbar a { 
        display: block; /* Muestra los enlaces cuando el checkbox está marcado */ 
    } 
}

/* Estilos para pantallas más grandes (ancho mínimo de 769px) */
@media (min-width: 769px) {
    body {
        font-size: 18px; /* Ajustar el tamaño de la fuente */
        margin: 0px;
    }

    .contenedor {
        width: 80%; /* Ajustar el ancho del contenedor */
        padding: 0px; /* Ajustar el padding */
    }
    .navbar a { 
        display: flex; /* Oculta los enlaces por defecto */ 
    } 
    .menu-btn { 
            display: flex; /* Muestra el botón en pantallas pequeñas */ 
        } 
    .menu-toggle:checked + .navbar a { 
        display: flex; /* Muestra los enlaces cuando el checkbox está marcado */ 
    } 
}
