body{
    margin: 0px;
    display: flex;
    color: #ededed;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712
        ;
}
/* From Uiverse.io by Saad3092003 */ 
.one {
    position: relative;
    height: 300px;
    width: clamp(100px, 70%, 900px);
    background-color: #2beced;
    transform-style: preserve-3d;
    animation: rot 2s infinite ease;
    border-radius: 20px;
    box-shadow: 0 0 50px 20px, inset 0 0 90px 30px;
    color: #2beced;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .one #titulo {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .one:hover.one #titulo {
    scale: 1.2;
    opacity: 1;
    text-align: center;
    font-size: 400%;
    padding:10px ;
    color: #040b0b;
    text-shadow: 0px 0px 15px #040b0b,
    0px 0px 30px #040b0b, 
    0px 0px 60px #040b0b,
    0px 0px 80px #040b0b;
  }
  
  .one:hover {
    box-shadow: 0 0 50px 0px, inset 5px 5px 20px 0px #ededed;
  }
  
  @keyframes rot {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }
  
    50% {
      transform: rotateX(-15deg) translateY(-10px);
    }
  
    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
  }
  
.content{
    background:#040b0b;
    height: 2500px;
}
.inicio{
    background-color:#188f8f;
    border-radius: 15px;
    display: flex;
    position: fixed;
    width: 60px;
    margin: 10px;
    padding: 2px;
    height: 60px;
    justify-content: center;
    box-shadow: 0px 0px 10px #188f8f,
    0px 0px 20px #188f8f, 
    0px 0px 40px #ededed,
    0px 0px 60px #ededed;
    
}
#error{
    list-style: none;
    color: #ededed;
    justify-items: center;
}
.menu{
    position: absolute;
    text-align: center;
    padding: 16px;
    border-radius: 24px;
}
.img{
    width: 40px;
    position: relative;
}
#diriccionaminto{
    text-decoration: none;
    text-align: center;
    font-size: initial;
    color: #ededed;
    padding: 0px;
    border: 0px;

}
.cuadrado{
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}
.block{
    gap: 30px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.texto1{
    text-align: center;
    background-color: #188f8f; /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 35px;
    font-size: x-large;
    width: clamp( 100px, 50%, 300px);
    box-shadow: 0px 0px 15px #188f8f,
                0px 0px 30px #188f8f, 
                0px 0px 60px #188f8f;
}   
.introduccion{
    text-align: center;
    width:clamp( 100px, 50%, 200px);
    background-color: #188f8f; /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 15px;
    font-size: x-large;
    box-shadow: 0px 0px 15px #188f8f,
                0px 0px 30px #188f8f, 
                0px 0px 60px #188f8f,
                0px 0px 80px #188f8f;
}
.separador{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.union{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#subtitulo{
    text-align: center;
    background-color: #188f8f; /* Fondo semi-transparente para mejorar la legibilidad */ 
    padding: 10px; /* Espaciado interno */ 
    border-radius: 35px;
    font-size: x-large;
    width:clamp( 100px, 50%, 200px);
    height: 50px;
    align-content: center;
    box-shadow: 0px 0px 15px #188f8f,
    0px 0px 30px #188f8f, 
    0px 0px 60px #188f8f,
    0px 0px 80px #188f8f;
}
.block1{
    display:grid;
    height: 900px;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 8rem;
}
button{
     background-color: transparent;
}
.introduccion1{
    text-align: center;
    background-color: #2beced; /* Fondo semi-transparente para mejorar la legibilidad */ 
    width: clamp(300px, 50%, 700px);
    height: clamp(50px, 50%, 100px);
    border-radius: 35px;
    font-size: large;
    justify-self: center;
    align-content: center;
    box-shadow: 0px 0px 15px #2beced,
    0px 0px 30px #2beced, 
    0px 0px 60px #2beced,
    0px 0px 80px #2beced;
}
#diriccionaminto1{
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    color: #040b0b;
    padding: 0px;
    border: 0px;
    text-shadow: 0px 0px 15px #040b0b,
    0px 0px 30px #040b0b, 
    0px 0px 60px #040b0b,
    0px 0px 80px #040b0b;
}
.block2{
    display: flex;
    height: 1600px;
    justify-content: center;
    align-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}
.leyenda1{
    background-color: #2beced;
    border-radius: 25px;
    height: max-content;
    width:clamp( 300px, 50%, 600px);
}
.cuadrado1{
    background-color: #188f8f;
    width: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 50px;
    padding: 20px;
}
.informacion{
    font-size: 65px;
    text-align: center;
}
.texto2{
    font-size: xx-large;
}
#fotografia{
    width:460px;
}
/* Media query para pantallas menores de 600px (por ejemplo, teléfonos móviles) */ 
@media (max-width: 600px) { 
    body { font-size: 1rem; /* Ajustar el tamaño de la fuente */ 
        margin: 0px;
    } 
    .content {
         width: 100% ; /* Hacer que el contenedor ocupe el 100% del ancho */ 
         padding: 0px ; /* Reducir el padding */
         font-size: x-small;
    } 
}
/* Estilos para tabletas (ancho máximo de 768px) */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Ajustar el tamaño de la fuente */
        margin: 0px;
    }

    .contenedor {
        width: 90%; /* Ajustar el ancho del contenedor */
        padding: 0px; /* Ajustar el padding */
        font-size: small;
    }
}

/* Estilos para pantallas más grandes (ancho mínimo de 769px) */
@media (min-width: 769px) {
    body {
        font-size: 18px; /* Ajustar el tamaño de la fuente */
        margin: 0px;
    }

    .contenedor {
        width: 80%; /* Ajustar el ancho del contenedor */
        padding: 0px; /* Ajustar el padding */
    }
}
